@page "{slug?}"
@using Blog.Code
@using System.Globalization
@inject IPostResolver _postResolver;

<div>
    @{
        var slug = RouteData.Values["slug"] as string;

        if(!string.IsNullOrWhiteSpace(slug)) {
            var post = await _postResolver.GetPost(slug);
            ViewData["Title"] = post.Metadata.Title;

            <div>
                <h1>@post.Metadata.Title</h1>
                <p>@post.Metadata.Description</p>
                <p>@post.Metadata.Created.ToString("dd-MM-yyyy")</p>
                <p>@string.Join(", ", post.Metadata.Tags)</p>
            </div>

            <article>
                @Html.Raw(post.HtmlContent)
            </article>
        }
        else 
        {
            <h1>Archive</h1>
            <section>

                @{
                    var index = await _postResolver.GetMetadataIndex();
                    string GetMonthName(int num) => CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(num);
                    var grouped = index.GroupBy(p => new { p.Created.Year, p.Created.Month });

                    foreach(var gr in grouped) 
                    {
                        <section class="post-group">
                            <h2>@GetMonthName(gr.Key.Month) @gr.Key.Year</h2>
                            <ul>
                                @foreach(var p in gr)
                                {
                                    <partial name="_SmallPost" model="p"></partial>
                                }
                            </ul>
                        </section>
                    }
                }

            </section>
        }
    }
</div>