@using Blog.Code.Models
@model PostMetadata
<section class="content-block post-metadata">
    <a href="@Model.Location"><h1 class="title">@Model.Title</h1></a>
    <small class="created">@Model.Created.ToString("dd-MM-yyyy") &bullet; </small>
    @foreach(var t in Model.Tags) {
        <small class="tag">@t</small>
    }
    <p class="description">@Model.Summary</p>
</section>